.note-detail-container{
    position: relative;
    display: flex;
    justify-content: center;
}
.note-detail{
    background-color: white;
    position: absolute;
    top :150px;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}
.note-title{
    display: flex;
    flex-direction: column;
}
.note-title h1{
    font-size: 1.7rem;
}
.title-dates{
    display: flex;
    justify-content: center;
    gap: 70px;
    margin: 20px;
    color: rgb(62, 58, 58);
    font-size: 17px;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:25px;
    gap: 50px;
}
.edit-icon,.delete-icon{
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    color: white;
}
.edit-icon:hover{
    opacity: 0.7;
}
.delete-icon:hover{
    opacity: 0.7;
}
.edit-icon{
    background-color: blue;
}
.delete-icon{
    background-color: red;
}
.note-body p{
    font-size: 1.2rem;
    line-height: 23px;
}